/node_modules
node_modules
/npm-debug.log
/yarn-error.log

.env

/db/eventmaster.db

logs
*.log

.dockerignore
!Dockerfile
!docker-compose.yml

*.swp
authorized_key.json

*.tfvars
.terraform*
*.tfstate
*.tfstate.*

eventmaster